body {
  padding-top: 70px;
}

.product-card {
  border: solid black 1px;
}

.product-card img {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}

.highlight {
  background-color: yellow;
  border: solid black 5px;
}

td:nth-child(1) {
  font-weight: bold;
  padding-right: 5px;
}



/* Match card heights on md screen size and higher */
/* Forcing bootsrap grid to behave like table */
/*@media only screen and (min-width : 970px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}*/
